<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-4">
            <div class="col-11">
                <div class="col-12 ">
                    <div class="text-center">
                        <img src="../../../assets/img/Recreacion.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <h2 class="rounded-circle">
                    Recreacion
                </h2>
                <p>
                    La caja de compensacion ComfaPoli, dispone
                    espacios de primera calidad para que el afiliado
                    y su grupo familar puedan disfrutar del aire libre.
                    <br>
                    Acercate a nuestras instalaciones para tener el 
                    gusto de asesorarte a ti y a tu familia, Asi disfrutaras 
                    el tiempo con ellos de calidad. 
                </p>
                <a href="#" target="_self" class="">
                    Consultar Espacios
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-11">
                <div class="col-12 ">
                    <div class="text-center">
                        <img src="../../../assets/img/Financieros.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <h2 class="">
                    Servicios Financieros
                </h2>
                <p>
                    Uno de nuestros principales objetivos es velar 
                    por que nuestros afiliados tengan una estabilidad
                    financiera que les permita hacer sus sueños realidad.
                    En nuestra caja de Compensacion Contamos con distintas
                    modalidades de Credito creadas para que encentres la que
                    mas se ajuste a tus necesidades.
                </p>
                <a href="#" target="_self" class="">
                    Charlar con asesor
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-11">
                <div class="col-12 ">
                    <div class="text-center">
                        <img src="../../../assets/img/turismo.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <h2 class="">
                Turismo
            </h2>
            <p>
                Los mejores planes, a los mejores destinos
                y todos al alcance de tus ingresos. Diseñamos 
                un plan a tu medida.
            </p>
            <a href="#" target="_self" class="">
                Consultar promociones
            </a>
        </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-md-center text-center">
        <div class="col-12 col-md-8">
            <h2 class="">
                COMFAPOLI
            </h2>
            <h4 class="">
                CONTIGO, CON TODO ...
            </h4>
            <p>
                La mejor atenciòn lo encuentras aqui
            </p>
        </div>
        <div class="col-12 col-md-4">
            <div class="text-center">
                <img src="../../../assets/img/servicio.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
<br>
<br>