<footer id="colophon" class="site-footer">
    <div class="site-footer-inner">
        <div class="footer-widget-area columns-3">
            <div class="footer-widget">
                <aside id="wpcw_social-4" class="widget wpcw-widgets wpcw-widget-social">
                    <h4 class="">
                        Follow Us
                    </h4>
                    <ul>
                        <li class="no-label">
                            <a href="https://www.instagram.com/nombre%20de%20usuario" target="_blank" title="Visita Comfapoli en Instagram">
                                <span class="fab fa-3x fa-instagram">
                                </span>
                            </a>
                        </li>
                        <li class="no-label">
                            <a href="https://www.facebook.com/username" target="_blank" title="Visita Comfapoli en Facebook">
                                <span class="fab fa-3x fa-facebook">
                                </span>
                            </a>
                        </li>
                        <li class="no-label">
                            <a href="https://twitter.com/username" target="_blank" title="Visita Comfapoli  en Twitter">
                                <span class="fab fa-3x fa-twitter">
                                </span>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="footer-widget">
                <aside id="wpcw_contact-4" class="widget wpcw-widgets wpcw-widget-contact">
                    <h4 class="">
                        Contactanos
                    </h4>
                    <ul>
                        <li class="has-label">
                            <strong>
                                Email
                            </strong>
                            <br>
                            <div>
                                <a href="mailto:jj&#99;&#64;&#103;m&#97;&#105;l.&#99;o&#109;">
                                    lerochar1@gpoligran.edu.co
                                </a>
                            </div>
                        </li>
                        <li class="has-label">
                            <strong>
                                Teléfono
                            </strong>
                            <br>
                            <div>
                                +57 310 799 05 83
                            </div>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="footer-widget">
                <aside id="wpcw_contact-6" class="widget wpcw-widgets wpcw-widget-contact">
                    <ul>
                        <li class="has-label">
                            <strong>
                                Dirección
                            </strong>
                            <br>
                            <div>
                                Cra 7 # 67 - 02 Bogotá.
                            </div>
                        </li>
                        <li class="has-map">
                            <iframe src="" data-src="https://www.google.com/maps?q=bogotà-Col%C3%BA&output=embed&hl=es&z=14" frameborder="0" class="wpcw-widget-contact-map">
                            </iframe>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div><!-- .site-footer-inner -->
</footer><!-- #colophon -->

