<header id="masthead" class="site-header" role="banner">		
    <app-header class="site-header-wrapper">
    </app-header>
    <div class="hero">
        <div class="hero-inner">
            <aside id="primer-hero-text-2" class="widget widget_text primer-widgets primer-hero-text-widget">
                <div class="textwidget primer-widgets primer-hero-text-widget">
                    <h2 class="widget-title" style="color: grey">
                        COMFAPOLI
                    </h2>
                    <p>
                        Nuestra prioridad es tu bienestar.
                    </p>
                    <p>
                        <a [routerLink]="['/reserva/paso1']" class="button">
                            afiliate
                        </a>
                    </p>
                </div>
            </aside>
        </div>
    </div>
</header><!-- #masthead -->