<!-- Grid row 
<div class="row">
 Grid column 
<div class="col-lg-5 mb-lg-0 mb-4">
     Form with header 
    <div class="card">
        <div class="card-body">
         Header 
        <div class="form-header blue accent-1">
            <h3 class="mt-2"><i class="fab fa-envelope"></i> Write to us:</h3>
        </div>
        <p class="dark-grey-text">We'll write rarely, but only the best content.</p>
         Body 
        <div class="md-form">
            <i class="fab fa-user prefix grey-text"></i>
            <input type="text" id="form-name" class="form-control">
            <label for="form-name">Your name</label>
        </div>
        <div class="md-form">
            <i class="fab fa-envelope prefix grey-text"></i>
            <input type="text" id="form-email" class="form-control">
            <label for="form-email">Your email</label>
        </div>
        <div class="md-form">
            <i class="fab fa-tag prefix grey-text"></i>
            <input type="text" id="form-Subject" class="form-control">
            <label for="form-Subject">Subject</label>
        </div>
        <div class="md-form">
            <i class="fab fa-pencil-alt prefix grey-text"></i>
            <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
            <label for="form-text">Send message</label>
        </div>
        <div class="text-center">
            <button class="btn btn-light-blue">Submit</button>
        </div>
        </div>
    </div>
     Form with header 

</div>
 Grid column 

 Grid column 
<div class="col-lg-7">

    Google map
    <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
    <iframe src="https://maps.google.com/maps?q=Bogotà&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
        style="border:0" allowfullscreen></iframe>
    </div>
     Buttons
    <div class="row text-center">
    <div class="col-md-4">
        <a class="btn-floating blue accent-1">
        <i class="fab fa-map-marker-alt"></i>
        </a>
        <p>New York, 94126</p>
        <p class="mb-md-0">United States</p>
    </div>
    <div class="col-md-4">
        <a class="btn-floating blue accent-1">
        <i class="fab fa-phone"></i>
        </a>
        <p>+ 01 234 567 89</p>
        <p class="mb-md-0">Mon - Fri, 8:00-22:00</p>
    </div>
    <div class="col-md-4">
        <a class="btn-floating blue accent-1">
        <i class="fab fa-envelope"></i>
        </a>
        <p>info@gmail.com</p>
        <p class="mb-0">sale@gmail.com</p>
    </div>
    </div>

</div>
 Grid column 

</div>
 Grid row 
-->




<!-- otra opcion -->
<!-- <div class="wrapper">
        <h1>CONTACT ME</h1>
        
        
    
       <div class="container">
         
      
      <form action="/action_page.php">
        <div class="row">
          <div class="col-25">
            <label for="fname">Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="name" name="firstname" placeholder="Your Name">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">E-mail</label>
          </div>
          <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="Your E-mail">
          </div>
        </div>
        
        
        <div class="row">
          <div class="col-25">
            <label for="subject">Message</label>
          </div>
          <div class="col-75">
            <textarea id="subject" name="subject" placeholder="Your Message" style="height:200px"></textarea>
          </div>
        </div>
        <div class="row">
          <input type="submit" value="Submit">
        </div>
      </form>
         
         <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1xmEOp534MOV24OzCYrcLPCvCfDifD2Sb" width="100%" height="480"></iframe>
         
    </div>
        
     </div>	
    </div>	 -->

<br>
<br>
    <!-- otra forma -->
<div class="container">
  <h2>
    Contactanos
  </h2>
  <div class="row">
    <div class="column">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2931.604121192062!2d23.31889131575607!3d42.712102520788456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8ff432b7813d%3A0xc1d8ab88c51ef22d!2sSofia+Central+Station!5e0!3m2!1sbg!2sbg!4v1543322988015" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="column">
      <form>
        <label for="fname">
          Nombres
        </label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">
          Apellidos
        </label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="subject">
          Mensaje
        </label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px">
        </textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
<br>
<br>