/* .map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  } */

  /* otra forma */

/* 
  *{
	margin: 0;
    padding: 0;	
	}
	
body{
    background: #262626;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	}
	
nav{
	position: fixed;
	width: 100%;
	top: 0;
	background: #0E0D46;
	opacity: 0.9;
	}

ul {
	
    
    margin: 0 auto;
    padding: 0;
    background-color:  #0E0D46;
	
}

li {
    float:right; 
}

ul li {
	
    display: inline-block;
	min-width: 20px;
    color: white;
    text-align: center;
	background: #0E0D46;
    padding: 18px 26px;
    text-decoration: none;
	list-style: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

   ul li:hover {
    background-color: #00A5AD;
}
	
	ul li a{
		text-decoration: none;
	    color: #fff;
	
	}
	
	
	
	.logo{
		
	}
	
.toggle{
	width: 100%;
	padding: 10px 20px;
	background: #0E0D46;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 30px;
	display: none;
	}
	
.map{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 3px;
    
}
	
	.wrapper {
	width: 100%;
	max-width: 1080px;
	background: #FFFFFF;
	margin:  auto;
	padding-top: 25px;
	margin-top: 54px;
    
	}
	
	.flex-container{
	display: flex;
	padding: 40px;
	background: #E1CF8E;
	flex-direction: column;
	}
	
	.container-1{
      display:flex;
      
    }
    
    
    .container-1 div, .container-2 div, .container-3 div{
      padding: 40px; 
    
  }
	
   .box-1{
      flex:2;
      order:1;
	
	
  }
  
    .box-2{
      flex:2;
      order:2;
  
  }
  
   
  
    img{
		max-width: 100%;
  }
	
  input[type=text], select, textarea {
    width: 96.62%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color:#0E0D46;
    color: white;
    padding: 18px 40px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #00A5AD;
}

.container {
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 15px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

	.blogContainer{
  	padding: 0;
	margin: 0;
	}
	
	
	 h1{
		text-align: center;
	}
	
	.blogTitle{
		text-align: center;
		font-size: 29px;
	}
	
	.date{
		text-align: center;
		font-style: italic;
	}
	
	.blogContainer{
		font-size: 19px;
		padding: 15px;
	}
	
	.postImage{
		float: left;
		margin: 10px;
		margin-top: 0px;
		width: 22%
	}
	
	
	
	p + p {
    margin-top: 8px;
}
	
	hr{
	color: #0E0D46;
	width: 100%;
		
	}
	
	footer{
		background-color: #0E0D46;
	  margin-top: 0px;
		padding: 20px 0;
	}
    
    footer:after{
	    content:"";
	    display: block;
	    clear: both;
}
	
	.footerText{
		color: #FFF;
		text-align: top;
		
		padding-left: 15px;
	}
	
	.fa{
		color: #fff;
		padding-right: 20px;
        padding-left: 20px;
	}
	
	.fa:hover{
		color: #00A5AD;
	}

.socMedia{
		
		text-decoration: none;
		list-style: none;
	}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 96.62%;
        margin-top: 0;
    }
}
	
@media (max-width: 600px)
{
    .toggle
	{
		display: block;
	}
    
	li{
		float: none;
		
	}
	
	ul
	{
		width: 100%;
		display: none;
		
	}
	
	ul li
	{
		display: block;
		text-align: center;
	}
    .active
	{
		display: block;
		
	}
	
	nav{
		opacity: 0.6;
	}
	
	.container-1{
      display:flex;
      flex-direction:column;
      
    }
	
	.postImage{
		float: none;
		margin: 10px;
		margin-top: 0px;
		width: 100%
	}
	
	.fa{
		color: #fff;
		text-align: center;
	}
	
	.socMedia{
		text-align: center;
		display: block;
		text-decoration: none;
		list-style: none;
	}
	
	a{
		 list-style: none;
	}
    }
     */

    /* otra forma */
    body {
        font-family: Arial, Helvetica, sans-serif;
      }
      
      * {
          box-sizing: border-box;
      }
      
      h2 {
        text-align:center;
        font-size: 2rem;
        padding: 1.5rem;
      }
      
      /* Style inputs */
      input[type=text], textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical;
      }
      
      input[type=submit] {
          background-color: #000;
          color: white;
          border-radius: 5%;
          padding: 15px 40px;
          border: none;
          cursor: pointer;
      }
      
      input[type=submit]:hover {
          box-shadow: 0px 0px 63px 2px rgba(0,0,0,0.5);
      }
      
      /* Style the container/contact section */
      .container {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 10px;
      }
      
      /* Create two columns that float next to eachother */
      .column {
          float: left;
          width: 50%;
          margin-top: 6px;
          padding: 20px;
      }
      
      /* Clear floats after the columns */
      .row:after {
          content: "";
          display: table;
          clear: both;
      }
      
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
          .column, input[type=submit] {
              width: 100%;
              margin-top: 0;
          }
      }