<div *ngIf="!logeado" >
    Falta Iniciar Sesión
</div>
<div class="mitad">
    <hr>
    <button (click)="accederConGoogle()" class="btn btn-danger btn-block">
        <i class="fab fa-google"></i>
        Iniciar Google
    </button>
    <br>
    <button (click)="accederConFacebook()" class="btn btn-primary btn-block">
            <i class="fab fa-facebook"></i>
            Iniciar Facebook
        </button>
        <br>
        <button (click)="accederConUserAPP()" class="btn btn-primary btn-block">
            
            Iniciar con Usuario de Platamorma
        </button>
        <br>
</div>
<div class="mitad">
    <div *ngIf="logeado" >
            Ya Inicio Sesión
        <br>
        <div>
            <img [src]="usuario.photoUrl" alt="">
        </div>
        <br>
        <div>
            <h1>
                {{usuario.name}}
            </h1>
            <br>
            <h3>
                {{usuario.email}}
            </h3>
            
        </div>
        <button (click)="Salir()" class="btn btn-info btn-block">Salir</button>
    </div>
</div>

