<header id="masthead" class="site-header" role="banner">
    <app-header class="site-header-wrapper">
    </app-header>
    <div class="page-title-container">
        <header class="page-header">
            <h1 class="page-title">
                Proceda con la Reserva
            </h1>
        </header><!-- .entry-header -->
    </div><!-- .page-title-container -->
</header><!-- #masthead -->
<!-- <header id="masthead" class="site-header" role="banner">
    <app-header class="site-header-wrapper">
    </app-header>
    <div class="page-title-container">
        <header class="page-header">
            <h1 class="page-title">
                Selecionar Especialidad y Doctor a Cargo
            </h1>
        </header>
    </div>
</header> -->
