<br>
<div class="container">
    <div class="row justify-content-md-center text-center separador">
        <div class="col-12 col-md-6">
            <div class="proposito separadorcito">
                <img src="./assets/img/mision.png" class="imgproposito" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6 servicios">
            <h2 class="">
                Misión:
            </h2>
            <p>
                Proveer servicios de recreacion y biienestar, con los mejores estándares de calidad y productividad, satisfaciendo las necesidades de nuestros usuarios, 
                trabajadores y accionistas; con recursos humanos altamente calificados y comprometidos para garantizar la seguridad de nuestros usuarios y trabajadores, 
                basados en las mejores prácticas, sensibles a las necesidades del entorno, en un recinto a la vanguardia de la ciencia y la tecnología.
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center text-center separador">
        <div class="col-12 col-md-6">
            <div class="proposito separadorcito">
                <img src="./assets/img/vision.png" class="imgproposito" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6 mision">
            <h2 class="">
                Visión:
            </h2>
            <p>
                Nos proyectamos ser en 5 años una de las cajas de compensacion mas grandes del mercado, brindado nuestros servicios en la toralidad del territorio nacional y con la mejor calidad,
                queremos llegar a aquellas poblaciones vulnerables que hoy en dia no pueden disfrutar de espacios para su sano esparcimiento y desarrollo socio cultural.
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center text-center separador">
        <div class="col-12 col-md-6 separadorcito">
            <div class="proposito">
                <img src="./assets/img/valores.jpg" class="imgproposito" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6 servicios">
            <h2 class="">
                Valores:
            </h2>
            <p>
                Lealtad: estamos siempre para acompañarte, atentos a servirte y darte las mejores opciones para tu bienestar.
                <br>
                Equidad: Todos nuestros afiliados son nuestra familia
                y por esto necesitan el mejor trato.
                <br>
                Respeto: Respeto por tu tiempo, tus sueños y tus deseos.
            </p>
        </div>
    </div>
</div>
<br>
<br>
<div class="row justify-content-md-center text-center separador">
    <div class="col-12">
        <h2>
            Nuestros pilares en infraestructura
        </h2>
    </div>
    <div class="col-12">
        <h6>
            Tenemos los mejores instalaciones para formacion, recreacion y turismo
        </h6>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-4 text-center">
            <div class="col-12 text-center">
                <div class="col-12">
                    <div class="text-center">
                        <img src="http://www.ugto.mx/noticias/images/noticias/05-03-19/infraestructrura-ug-ugto.jpg" class="imgadministradores" alt="">
                    </div>
                </div>
                <h2 class="">
                    Formacion
                </h2>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <br>
                <br>
                <p>
                    Contamos con modernas bibliotecas , dotadas de los materiales mas 
                    actualizados, con ls cuales podras incentivar tu conocimiento y el de tu fammilia.
                    <br>
                    Nuestras aulas cuentan con lo ultimo en tecnologia audiovisual e informatica lo que te ayudara a hacer mas efectivas tus capacitaciones
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxxgxKVwOBS3-kPqhtlPpJSIboldAJYbq3vS1OyEb8aEPDlZAL" class="imgadministradores" alt="">
                    </div>
                </div>
                <h2 class="">
                    Recreacion
                </h2>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <br>
                <br>
                <p>
                    Los mejores parques a tu disposicion, modernos y divertidos haran de tus dias la mas maravillosa experiencia.
                    <br>
                                       
                </p>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://www.clasificacionde.org/wp-content/uploads/2018/03/turismo.jpg" class="imgadministradores" alt="">
                    </div>
                </div>
            </div>
            <h2 class="">
                Turismo
            </h2>
            <a href="#" target="_self" class="">
                Reservar Cita
            </a>
            <br>
            <br>
            <p>
                Nuestros hoteles estan preparados para recibirte a ti y a tu familia, con el fin de hacerte pasar los mas maravillosos momentos al lado de los que quieres.
                Sus instalaciones modernas dotadas de todas las comodidades de un resort cinco estrellas haran que tu descanso sea inolvidable.
               
            </p>
        </div>
    </div>
</div>
<br>
<br>